.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  z-index: 100;
  padding: 16px;
  background-color: white;
  display: flex;
  gap: 8px;
  height: 80px;
}

.Button {
  min-width: 48px;
}
