$grayscale_0: rgb(0, 0, 0);
$grayscale_1: rgb(20, 20, 20);
$grayscale_2: rgb(40, 40, 40);
$grayscale_3: rgb(60, 60, 60);
$grayscale_4: rgb(80, 60, 80);
$grayscale_5: rgb(100, 100, 100);
$grayscale_6: rgb(120, 120, 120);
$grayscale_7: rgb(140, 140, 140);
$grayscale_8: rgb(160, 160, 160);
$grayscale_9: rgb(180, 180, 180);
$grayscale_10: rgb(200, 200, 200);
$grayscale_11: rgb(220, 220, 220);
$grayscale_12: rgb(240, 240, 240);
